.container{
  margin: 0 auto;
  width: 1680px;
}

.header{
  background-color: #000000;
  position: sticky;
  top: 0;
  height: 202px;
  background-image: url("blacksky.jpg");
}

.header img{
  margin: 0px 50px;
}

.navigation-bar{
  display: inline-block;
}

.navigation-bar * {
  vertical-align: middle;
}

.nav-bar{
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
  list-style-type: none;
  padding:15px 20px;
  font-size: 25px;
  border-right: 1px solid rgb(107, 107, 107);
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 310px;
  left: 0px;
  background-color: hsl(212, 100%, 25%);
  min-width: 160px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.368);
  z-index: 1;
  font-size: 25px;
}

.dropdown-content a {
  text-decoration: none;
  color: white;
  display: block;
  height: 45px;
  width: 300px;
  padding: 8px 7px;
}

.dropdown a {
  text-decoration: none;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover{
  background-color: hsl(212, 100%, 25%);
}

.dropdown-content a:hover{
  background-color:hsl(216, 51%, 21%);
  display: block;
  width: 296px;
}

.search-box {
  display: inline-block;
  background-color: rgb(66, 66, 66);
  padding: 5px;
  width: 150px;
  margin: 0px 20px;
}

.search-box * {
  vertical-align: middle;
}

.search-box input{
  background-color: rgb(66, 66, 66);
  outline: none;
  border: none;
  width: 60%;
  font-size: 16px;
  color: white;
}

.search-box svg{
  fill: white;
  width: 35px;
  margin-left: 17px;
}

.navigation-bottom{
  background-color: #4b4b4b;
  display: inline;
  padding: 25px 0px;
  margin: 0px 140px;
}

.dropdown-bottom a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.dropdown-bottom {
  position: relative;
  display: inline-block;
  list-style-type: none;
  padding:15px 20px;
  font-size: 25px;
  border-right: 1px solid rgb(107, 107, 107);
}

.dropdown-bottom:hover{
  background-color: #6b6b6b;
}