#footer{
    padding: 50px;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
 

#footer-info{
    margin-left: 35px;
    margin-top: -15px;
}


#footer-info img{
    float: left;
    width: 80px;
}


#footer-info span{
    font-weight: 600;
    font-size: 0.85em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}


#footer-links{
    float: right;
    margin-top: 26px;
}


#footer-links a{
    color: #5d7fb9;
    display: inline-block;
    margin: 14px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 13px;
    font-weight: bold;
}