/* cod of main*/
/* cod of main id */
body{
    background-color: black;
}
#main{
    margin: 0 auto;
    width: 1400px;
}
#main #MORE-STORIES a{
    text-align: center;
    padding: 10 603px;
    background-color:#15418c ;
    border: none;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}
#main #MORE-STORIES{
    position: relative;
    bottom: 1400px;
}
#main *{
    margin: 1px;
    display: inline-block;
}
/* end code of main id*/
/* code of contener-header-main */
#contener-header-main{
    display: flex;
}
/* end cod of contener-header-main */
#left-img-header-main span{
text-decoration: none;
font-size: 19px;
color: black;
position: relative;
bottom: 33.5px;
background: rgba(255, 255, 255, 0.8);
padding:5px 536px 5px 11px ;
}
#left-img-header-main{
    position: relative;
    top: 1px;
}
#left-img-header-main img{
    height: 653px;
    width: 652.5;
}
/* code of Itm-card-header-of-main-right */
#Itm-card-header-of-main-right img{
    position: relative;
    bottom: 336.7px;
    left: 336px;
}
#Itm-card-header-of-main-right span{
    text-decoration: none;
    font-size: 19px;
    color: black;
    position: relative;
    bottom: 347px;
    left: 14px;
    background: rgba(255, 255, 255, 0.8);
    padding:5px 204.8px 5px 10px ;
}
/* end code of Itm-card-header-of-main-right */
/* code of Itm-card-header-of-main */
.Itm-card-header-of-main{
    display: inline-block;
    box-sizing: border-box;
}
.Itm-card-header-of-main span{
    text-decoration: none;
    font-size: 19px;
    color: black;
    position: relative;
    bottom: 10px;
    right: 322px;
    background: rgba(255, 255, 255, 0.8);
    padding:5px 204.7px 5px 10px ;
}
/* end code of Itm-card-header-of-main */
/* code of footer-of-main */
#Itm-card-header-main-footer{
    margin: 1px;
    margin-top: 3px;
    position: relative;
    bottom: 350px;
}   
#Itm-card-header-main-footer span{
    text-decoration: none;
    font-size: 19px;
    color: black;
    position: relative;
    bottom: 33.8px;
    background: rgba(255, 255, 255, 0.8);
    padding:5px 100.9px 5px 10px ;
}
#Itm-card-header-main-footer img{
    width: 89.4%;
}
/* end code of footer-of-main */
/* code of contener-main-main */
/* code of right img */
#contener-main-main{
    position: relative;
    bottom: 380px;
}
#contener-main-main div:last-of-type img{
    width: 330px;
    height: 320px;
}
#contener-main-main div:last-of-type span{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    color: black;
    position: relative;
    bottom: 8.5px;
    background: rgba(255, 255, 255, 0.8);
    padding:5px 216px 5px 10px ;
    right: 332px;
}
#contener-main-main div:last-of-type{
    position: relative;
    left: 984px;
    bottom: 675px;
}
/* end code of right img */
/* code of left img */
#contener-main-main div:first-of-type span{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    color: black;
    position: relative;
    bottom: 10px;
    right: 321.4px;
    background: rgba(255, 255, 255, 0.8);
    padding:5px 204px 5px 10px ;
}
/* end code of left img */
/* code of Center img */
#Itm-Center-contener-main-main{
    position: relative;
    left: 330px;
    bottom: 338px;
}
#Itm-Center-contener-main-main span{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    color: black;
    position: relative;
    bottom: 9px;
    right: 642px;
    background: rgba(255, 255, 255, 0.8);
    padding:5px 525px 5px 10px ;
}
/* end code of contener-main-main */
/* end code of contener-main-main */
/* code footer main itm */
#itm-footer-main{
    position: relative;
    bottom: 1060px;
}
/* code of right-itm-footer-main */
#right-itm-footer-main img{
    width: 330px;
    height: 320px;
}
#right-itm-footer-main span{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    color: black;
    position: relative;
    bottom: 11.07px;
    right: 332px;
    background: rgba(255, 255, 255, 0.8);
    padding:5px 215px 5px 10px ;
}
#right-itm-footer-main{
    position: relative;
    left: 334px;
    bottom: 337px;
}
/* end code of 1right-itm-footer-main */
/* code of itm-all-footer-main span */
.itm-all-footer-main span{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    color: black;
    position: relative;
    bottom: 11.07px;
    right: 322px;
    background: rgba(255, 255, 255, 0.8);
    padding:5px 204px 5px 10px ;
}
/* end code of itm-all-footer-main span */
/* code of itm-Center-footer-main */
#itm-Center-footer-main{
    position: relative;
    left: 325px;
    bottom: 337px;
}
/* end code of itm-Center-footer-main */
/*end code footer main itm */
/* end cod of main */